.deftable{
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    position: relative;
    outline-style: outset;
    outline-color: darkgray;
    outline-width: 2px;
    outline-offset: 3px;
    text-align: center;
    border-collapse: collapse;
}
.borders{
    border: 1px solid black;
    border-collapse: collapse;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
}